body{
    padding: 0px;
    margin: 0px;
}
a.fbButton{ 
    text-align: center;
}

.col-md-12{
    margin-top: 50px;
    text-align: center;
}

input.fb{
    background: #3b5998;
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    //background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #3b5998;
    color: #ffffff;
    border: 1px solid #3b5998;
    cursor: pointer;
     font-family: 'Poiret One', cursive;
}
