body{
    padding: 0px;
    margin: 0px;
}
.col-md-12{
    text-align: center;
    background: #bdc3c7;
    height: 50px;
    padding-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.col-md-10{
    text-align: center;
    height: 50px;
    padding-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
	height:320px;
}
img{
    //text-align: center;
    border:2px solid #2980b9;
}

.col-md-4{
	
	font-family: 'Open Sans Condensed', sans-serif;
	background: #e74c3c;
        text-align:center;
        padding: 14px;
}

input.fb{
    background: #3b5998;
    padding: 10px 15px 11px !important;
    font-size: 18px !important;
    //background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #3b5998;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #3b5998;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     font-family: 'Poiret One', cursive;
}


